{% extends 'base.html.twig' %}

{% block title %}New Bezeichnung{% endblock %}

{% block body %}
    <h1>Create new Bezeichnung</h1>

    {{ include('bezeichnung/_form.html.twig') }}

    <a href="{{ path('app_bezeichnung_index') }}">back to list</a>
{% endblock %}
