{% extends 'base.html.twig' %}

{% block title %}Edit Rechnung{% endblock %}

{% block body %}
    <h1>Edit Rechnung</h1>

    {{ include('rechnung/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rechnung_index') }}">back to list</a>

    {{ include('rechnung/_delete_form.html.twig') }}
{% endblock %}
